@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first attempt at making an ASP.NET Web app! So please excuse it for being poor! I plan to refine it a lot over the next few weeks and maybe even publish it online.</p>
</div>
